.bg-box {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.gradient {
    height: 3000px;
    width: 1000%;
    background: linear-gradient(149deg, #7de3ff 0%, #002053 100%);
    animation: gradient 10s infinite linear;
    background-size: 4000%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.hello-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    opacity: 0.9;
    z-index: 2;
    margin: 0;
    pointer-events: none;
}

.gradient-text {
    background: linear-gradient(149deg, rgb(37, 241, 204) 0%, rgb(85, 46, 139) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s infinite linear;
}