* {
    box-sizing: border-box;
}

.bg-box {
    width: 88%;
    height: 600px;
    background-color: #090;
    background-image: url(./image.kryakva/xata.webp), url(./image.kryakva/lamp.png), url(./image.kryakva/ezik.webp), url(./image.kryakva/ponchik-removebg-preview.png), url(./image.kryakva/green-png-44873.png);
    background-repeat: no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: center, top, left, right, bottom;
    background-size: auto, 33px, 35px, 35px, 105px;

}